html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4FFFF;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}
​
/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}
​
/* Remove default margin */
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
​
/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
​
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}
​
/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
​
/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}
​
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

.center-column {
    width: 45%;
    margin: 0 auto;
}

.top-header {
    font-family: 'Merriweather','Georgia',serif;
    font-size: 6.5rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.top-description {
    font-size: 2.0rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10rem;
    line-height: 2.5rem;
}

.post-container {
    margin-bottom: 7rem;
}

a {
    color: #007acc;
    font-family: 'Merriweather','Georgia',serif;
    font-weight: 900;
    line-height: 1.1;
    font-size: 2.75rem;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.post-title {
    margin-bottom: 1.0rem;
}

.post-time {
    font-size: 1.75rem;
    font-family: 'Merriweather','Georgia',serif;
}

.post-description {
    font-size: 2.0rem;
    font-family: 'Merriweather','Georgia',serif;
    margin-top: 1.0rem;
}

.website-title {
    font-size: 2.5rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 900;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: black;
}

.post-header {
    font-size: 4.0rem;
    font-family: 'Merriweather','Georgia',serif;
    margin-bottom: 1.5rem;
}

.post-date {
    font-size: 1.35rem;
    font-family: 'Merriweather','Georgia',serif;
}

header {
    margin-bottom: 5.0rem;
}

section h1 {
    font-size: 3.5rem;
    font-family: 'Merriweather','Georgia',serif;
}

section p {
    font-size: 2.0rem;
    font-family: 'Merriweather','Georgia',serif;
    line-height: 3.0rem;
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
}

.next-page {
    font-size: 2.25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-decoration: underline;
}

.next-page:hover {
    text-decoration: none;
}